.body-darkMode{
    background-image: url(/images/background-negative.jpg);
    background-size: cover;  
}

.color-switch{
    background-color: var(--dark-font);
    color: var(--light-font);
}

.dark-accent{
    background-color: var(--dark-color);
    color: var(--light-font);
}