@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

:root {
    --font: rgb(32, 23, 34);
    --background: rgb(255, 250, 242);
    --dark-background: rgb(227, 216, 197);
    --main-color: rgba(190, 141, 224, 0.842);
    --deep-color: rgb(88, 62, 94);
    --dark-color: rgb(71, 52, 71);
    --translucent: rgba(255, 255, 255, 0.726);
    --border-width: 20px;
    --box-shadow:-5px 5px var(--deep-color);
    --red: rgba(255, 95, 74, 0.842);
    --orange: rgba(255, 176, 111, 0.842);
    --yellow: rgba(253, 251, 131, 0.842);
    --green: rgba(147, 223, 170, 0.842);
    --blue: rgba(147, 173, 223, 0.842);
    --purple: rgba(190, 141, 224, 0.842);
    --gray: rgba(150, 150, 150, 0.842);
}



body, select, input {
    font-family: 'Courgette', cursive;
    color: var(--font);
}

header {
    margin: 50px;
    display: flex;
    justify-content: center;
    border-style: double;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--main-color);
    box-shadow: var(--box-shadow);
}


body {
    max-width: 100%;
    margin: 0px;
    margin-bottom: 200px;
    background-image: url(/background.jpg);
    background-size: cover;
    /* font-family: 'Courgette', cursive;
    color: var(--font); */
}

#owned {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-gap: 50px;
    justify-content: center;
    margin-bottom: 150px;
}

figure {
    padding: 10px; 
}

/*-----------------------------------------------------*/

.plant-header {
    display: grid;
    grid-template-columns: 7fr 4fr;
    align-items: center;
    height: 25%;
}

.plant-info {
    display: grid;
    justify-items: center;
}


.image {
    width: 80%;
    border: 5px dotted var(--dark-color);
}

.sun {
    width: 100%;
    display: flex;
    justify-self: start;
}


/*DropDowns--------------------------------*/

.selection {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 50px;
    margin-top: 50px;
}

select {
    display: inline-block;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    width: 250px;
    width: 250px;
    font-size: large;
    /* font-family: 'Courgette', cursive; */
    padding-left: 10px;
}


.dropdown {
    background-color: var(--main-color);
    /* color: var(--font); */
}



.button {
    background-color: var(--translucent);
    border-color: var(--dark-color);
    font-family: 'Courgette', cursive;
    padding: 5px;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    margin-left: 10px;
    font-size: large;
    width: 80px;
}


/*-----------------------------------------*/

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 100%;
    height: 450px;
    perspective: 1000px;  /*Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 450px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 450px;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;

    justify-items: center;
    border-style: double;
    border-radius: 10px;
    background-color: var(--main-color);
    box-shadow: var(--box-shadow);
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
      margin: 0;
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }