@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

:root {
    --font: rgb(56, 8, 20);
    --background: rgb(255, 250, 242);
    --dark-background: rgb(227, 216, 197);
    --main-color: rgba(218, 167, 167, 0.842);
    --deep-color: rgb(105, 24, 24);
    --dark-color: rgb(63, 7, 19);
    --transparent: rgba(0, 0, 0, 0);
    --border-width: 20px;
    --box-shadow:-5px 5px var(--deep-color);
}

.container {
    padding-bottom: 200px;
}

header {
    margin: 50px;
    display: flex;
    justify-content: center;
    border-style: double;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--main-color);
    box-shadow: var(--box-shadow);
}

body {
    max-width: 100%;
    margin: 0px;
    margin-bottom: 200px;
    background-image: url(/background.jpg);
    background-size: cover;
    font-family: 'Courgette', cursive;
    color: var(--font);
}

#owned {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-gap: 50px;
    justify-content: center;
    margin-bottom: 150px;
}

.plant {
    justify-items: center;
    border-style: double;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--main-color);
    box-shadow: var(--box-shadow);
}

.plant-header {
    display: grid;
    grid-template-columns: 7fr 4fr;
    align-items: center;
    height: 25%;
}

.plant-info {
    display: grid;
    justify-items: center;
}


.image {
    width: 80%;
    border: 5px dotted var(--dark-color);
}

.sun {
    width: 100%;
    display: flex;
    justify-self: start;
}


/*DropDowns--------------------------------*/

.selection {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 50px;
    margin-top: 50px;
}

select {
    display: inline-block;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    width: 250px;
    width: 250px;
    font-size: large;
    font-family: 'Courgette', cursive;
    padding-left: 10px;
}


.dropdown {
    background-color: var(--main-color);
    color: var(--font);
}



.button {
    background-color: var(--transparent);
    border-color: var(--dark-color);
    font-family: 'Courgette', cursive;
    padding: 5px;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    margin-left: 10px;
    font-size: large;
    width: 80px;
}
