@use '../base' as x;

#owned {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-template-rows: 475px;
  grid-gap: 50px;
  justify-content: center;
  margin-bottom: 150px;
}

/*-----------------------------------------------------*/

.plant-header {
  display: grid;
  grid-template-columns: 7fr 4fr;
  align-items: center;
  height: 25%;
}

.names {
  display: inline-block;
}

.names h2 {
  margin-bottom: 5px;
  padding: o;
}

.plant-type {
  text-align: end;
  padding-right: 15px;
  margin-top: 0;
}

.plant-info {
  display: grid;
  justify-items: center;
}

.image {
  width: 80%;
  border: 5px dotted x.$dark-main;
}

.sun {
  width: 90%;
  display: flex;
  justify-self: start;
}


/*-----------------------------------------*/

.flip-card {
  background-color: transparent;
  width: 100%;
  height: 450px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 480px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 10px;
}

.clicked .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 480px;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  justify-items: center;
  border-style: double;
  border-radius: 10px;
  background-color: x.$translucent;
  box-shadow: x.$box-shadow;
}

.flip-card-back {
  transform: rotateY(180deg);
  background-color: x.$gray;
}

.back-div {
  display: grid;
}

.back-div label {
  margin: 30px 0px 5px 0px;
  font-size: large;
}

.back-div input {
  text-align: center;
  font-size: medium;
  margin: 0 20px 0 20px;
}

.back-div button {
  justify-self: center;
  margin: 30px;
  font-size: medium;
}

.flip-icon {
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 30px;
}

.room-icon {
  width: 150px;
  position: absolute;
  bottom: 50px;
  right: 80px;
}

/*UI--------------------------------*/

.selection {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 50px;
  margin-top: 50px;
  column-gap: 20px;
}

select,
input {
  display: inline-block;
  border-radius: 10px;
  box-shadow: x.$box-shadow;
  width: 250px;
  width: 250px;
  font-size: large;
  padding-left: 10px;
  background-color: x.$mid-main;
  color: x.$light-font;
  font-family: x.$font;
}

#add-input {
  background-color: x.$light-main;
}

.button {
  background-color: x.$translucent;
  border-color: x.$dark-main;
  padding: 5px;
  border-radius: 5px;
  box-shadow: x.$box-shadow;
  font-size: large;
  width: 80px;
}
