<section id="owned">
  <div
    *ngFor="let oPlant of catalog"
    class="flip-card"
    #card{{oPlant.id}}
    [ngClass]="toggleClass ? 'clicked' : ''"
  >
    <div class="flip-card-inner">
      <div class="flip-card-front" class="{{ oPlant.room.color }}">
        <aside class="plant-header">
          <div class="names">
            <h2 class="plant-name">{{ oPlant.nickName }}</h2>
            <p class="plant-type">{{ oPlant.plant.name }}</p>
          </div>
          <img src="{{ oPlant.plant.sun }}" alt="light needs" class="sun" />
        </aside>
        <aside class="plant-info">
          <img
            class="image"
            title="{{ oPlant.plant.name }}"
            src="{{ oPlant.plant.image }}"
          />
          <p class="water">{{ oPlant.plant.water }}</p>
          <p class="notes">{{ oPlant.plant.notes }}</p>
          <img
            src="https://static.thenounproject.com/png/267318-200.png"
            alt="flip card"
            class="flip-icon"
            (click)="flipCard()"
          />
        </aside>
      </div>
      <div class="flip-card-back">
        <div class="back-div">
          <button class="button">Make Changes</button>
          <img
            class="room-icon"
            id="room-icon-undefined"
            alt="Room"
            src="{{
              '../../../../assets/rooms/' +
                oPlant.room.roomName +
                '-' +
                oPlant.room.color +
                '.png'
            }}"
            onclick="flip-card"
          />
        </div>
        <img
          src="https://static.thenounproject.com/png/267318-200.png"
          alt="flip card"
          class="flip-icon"
          (click)="flipCard()"
        />
      </div>
    </div>
  </div>
</section>

<form
  #addOwnedPlantForm="ngForm"
  (ngSubmit)="addOwnedPlant(addOwnedPlantForm.value)"
  class="selection"
>
  <select
    class="dropdown"
    id="add-dropdown"
    size="1"
    name="plantId"
    placeholder="Select New Plant"
    ngModel
  >
    <option class="choose-plant" value="" disabled selected>
      Select Plant to Add
    </option>
    <option *ngFor="let plant of plants" value="{{ plant.id }}">
      {{ plant.name }}
    </option>
  </select>
  <input
    type="text"
    id="add-input"
    placeholder="Plant Nickname"
    name="nickName"
    ngModel
  />
  <button class="button" id="submit">Submit</button>
</form>

<form
  #deleteOwnedPlantForm="ngForm"
  (ngSubmit)="deleteOwnedPlant(deleteOwnedPlantForm.value)"
  class="selection"
>
  <select
    #delete
    class="dropdown"
    id="delete-dropdown"
    size="1"
    name="plantId"
    placeholder="Select Plant to Remove"
  >
    <option class="choose-plant" value="" disabled selected>
      Select Plant To Delete
    </option>
    <option value="{{ oPlant.id }}" *ngFor="let oPlant of catalog">
      {{ oPlant.nickName }}
    </option>
  </select>
  <button class="button" id="delete">Delete</button>
</form>
