@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

$dark-font: rgb(65, 45, 70);
$light-font: antiquewhite;
$light-main: rgb(188, 170, 192);
$mid-main: rgb(144, 102, 153);
$dark-main: rgb(71, 52, 71);
$translucent: rgba(255, 255, 255, 0.726);
$red: rgba(247, 158, 147, 0.842);
$orange: rgba(255, 176, 111, 0.842);
$yellow: rgba(240, 238, 164, 0.842);
$green: rgba(147, 223, 170, 0.842);
$blue: rgba(147, 173, 223, 0.842);
$purple: rgba(190, 141, 224, 0.842);
$gray: rgba(150, 150, 150, 0.842);

$border-width: 20px;
$box-shadow: -5px 5px rgba(107, 63, 131, 0.493);
$font: "Courgette", cursive;