<div
  class="container mat-app-background"
  
  [ngClass]="{ 'dark-background': isDarkTheme }"
>
  <header id="header">
    <h1>House Plant Catalog</h1>
    <div class="menu">
      <p class="nav">
        <a routerLinkActive="active" routerLink="/rooms">Rooms</a>
      </p>
      <p class="nav">
        <a routerLinkActive="active" routerLink="/catalog">Catalog</a>
      </p>
      <p class="nav">
        <a routerLinkActive="active" routerLink="/display">Display</a>
      </p>
    </div>
  </header>
  <router-outlet></router-outlet>
  <div id="display-container" >
    <mat-slide-toggle id="slide" [ngClass]="{ 'dark-theme-mode': isDarkTheme }" class="mat-app-background" [(ngModel)]="isDarkTheme" labelPosition="before">
      <mat-icon>bedtime</mat-icon>
    </mat-slide-toggle>
  </div>
</div>
