@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

:root {
  --dark-font: rgb(32, 23, 34);
  --light-font: antiquewhite;
  --background: rgb(255, 250, 242);
  --main-color: rgba(98, 133, 78, 0.842);
  --deep-color: rgb(88, 62, 94);
  --dark-color: rgb(71, 52, 71);
  --translucent: rgba(255, 255, 255, 0.726);
  --border-width: 20px;
  --box-shadow: -5px 5px rgba(0, 0, 0, 0.253);
  --red: rgba(255, 95, 74, 0.842);
  --orange: rgba(255, 176, 111, 0.842);
  --yellow: rgba(253, 251, 131, 0.842);
  --green: rgba(147, 223, 170, 0.842);
  --blue: rgba(147, 173, 223, 0.842);
  --purple: rgba(190, 141, 224, 0.842);
  --gray: rgba(150, 150, 150, 0.842);
}

body,
select,
input,
button {
  font-family: "Courgette", cursive;
  color: var(--dark-font);
}

header {
  margin: 50px;
  display: flex;
  justify-content: center;
  border-style: double;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--main-color);
  box-shadow: var(--box-shadow);
}

body {
  max-width: 100%;
  margin: 0px;
  margin-bottom: 200px;
  background-image: url(/images/background.jpg);
  background-size: cover;
}

.dropdown-menu {
    position: absolute;
    left: 100px;
    display: inline-block;
  }
  
  .elipses{
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
  }
  
  .elipses:hover {
      background-color: var(--deep-color);
      padding-left: 10px;
      padding-right: 10px;
      color:white;
  }
    
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown-menu:hover .dropdown-content {
    display: block;
  } 
  
  .dropdown-choice{
    padding: 10px;
    border-radius: 5px;
  }
  
  .dropdown-choice:hover {
    background-color: var(--main-color);
  }
  
  
  
  
  
  /* Slider ---------------------------------------------------*/
  
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
    
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
    
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--deep-color);
    -webkit-transition: .4s;
    transition: .4s;
  }
    
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--main-color);
    -webkit-transition: .4s;
    transition: .4s;
  }
    
  input:checked + .slider {
    background-color: white;
      
  }
    
  input:focus + .slider {
    box-shadow: 0 0 2px var(--dark-color);
  }
    
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
    
  .slider.round:before {
    border-radius: 50%;
  }
  
  /*-----------------------------------------------*/
  ul{
    margin-right: 40px;
  }
  
  li{
    list-style: none;
    padding:8px;
    margin: 5px;
    border-radius: 5px;
  }
  
  .red{
    background-color: var(--red);
  }
  .orange{
    background-color: var(--orange);
  }
  .yellow{
    background-color: var(--yellow);
  }
  .green{
    background-color: var(--green);
  }
  .blue{
    background-color: var(--blue);
  }
  .purple{
    background-color: var(--purple);
  }
  .gray{
    background-color: var(--gray);
  }
  
  .standard, .null{
    background-color: var(--translucent);
  }
  
  #select-room label{
    margin: 0px 15px 0px 15px;
  }
  
  .set-room-icon{
    width: 150px;
  }
  
  [type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  [type=radio] + img {
    cursor: pointer;
  }
  
  
  [type=radio]:checked + img {
    outline: 2px solid var(--dark-font);
  } 